<%= turbo_frame_tag "task" do %>
    <div id=<%= dom_id(task) %>>
        <%= task.id %>
        <%= task.title %>
        <%= task.description %>
        <%= task.category_id %>
        <%= task.user_id %>
    </div>
<% end %>