<%= turbo_frame_tag "inside_modal" do %>
    <%= form_with(model: @task, url: category_tasks_path,
    data: {
        action: "turbo:submit-end->new-category-modal#submitEnd"
    }) do |form| %>
        <% if @task.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
            <ul>
                <%= @task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
            </div>
        <% end %>

        <div class="d-grid gap-2">
            <div class="field form-floating">
                <%= form.text_field :title, autocomplete:"off", class:"form-control", placeholder:"title", required:true %>
                <%= form.label :title, class:"form-label small" %>
            </div>

            <div class="field form-floating">
                <%= form.text_area :description, class:"form-control", placeholder:"description", style:"height:100px" %>
                <%= form.label :description, class:"form-label small" %>
            </div>

            <div class="field d-flex justify-content-between">
                <%= form.label :finish_by, "Complete on or before:" %>
                <%= form.date_field :finish_by, required:true, min: Date.today.to_s %>
            </div>

            <div class="actions d-grid">
                <%= form.submit class:"btn btn-outline-success" %>
            </div>
        </div>
    <% end %>
<% end %>