<%= turbo_frame_tag "category_list" do %>
    <%= form_with(model: @category, url: user_categories_path) do |form| %>
        <% if @category.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
                <ul>
                    <% @category.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div class="d-grid gap-2">
            <div class="field form-floating">
                <%= form.text_field :name, required:true, autocomplete:"off", class:"form-control", placeholder:"title" %>
                <%= form.label :name, class:"form-label small" %>
            </div>

            <div class="field form-floating">
                <%= form.text_area :description, class:"form-control", placeholder:"description", style:"height:100px" %>
                <%= form.label :description, class:"form-label small" %>
            </div>

            <div class="actions d-grid">
                <%= form.submit data: { turbo_frame: "_top" }, class: "btn btn-outline-success" %>
            </div>
        </div>
    <% end %>
    <%= link_to 'Back', user_categories_path %>
<% end %>