<!DOCTYPE html>
<html>
  <head>
    <title>The Planner App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= notice %>
    <%if user_signed_in? %>
    <header>
      <%= render 'shared/navbar' %>
    </header>
    <% end %>
    <main>
      <%= yield %>
    </main>
    <%= render 'shared/modal' %>
  </body>
</html>
