<!DOCTYPE html>
<html>
  <head>
    <title>The Planner App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  
  </head>

  <body>
    <% if flash %>
      <div id="toasts">
        <%= render 'shared/toast' %>
      </div>
    <% end %>
  
    <%if user_signed_in? %>
    <header>
      <%= render 'shared/navbar' %>
    </header>
    <%= render 'shared/signed_in_modal' %>
    <main class="container-fluid mt-4">
      <div class="row">
        <div class="col-3">
          <%= turbo_frame_tag "category_list", src: user_categories_path(current_user.id) do %>
          <div>
            
          </div>
          <% end %>
        </div>
        <div class="col-9">
          <%= turbo_frame_tag "tasks_list", src: dashboard_path do %>
            <div class="container shadow p-3 rounded">
              Select a Category to display your tasks!
            </div>
          <% end %>
        </div>
      </div>
    </main>
    <% end %>
    <% unless user_signed_in? %>
    <main>
      <%= yield %>
    </main>
    <%= render 'shared/modal' %>
    <% end %>
    <script>
      $('.toast').toast('show');
    </script>
  </body>
</html>
