<!DOCTYPE html>
<html>
  <head>
    <title>The Planner App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  
  </head>

  <body>
    <% if notice %>
      <%= render 'shared/toast' %>
    <% end %>
  
    <%if user_signed_in? %>
    <header>
      <%= render 'shared/navbar' %>
    </header>
    <main>
      <% if current_user %>
          <p>Welcome, User <%= current_user.id %>: <%= current_user.email %></p>
      <% end %>
      <%= turbo_frame_tag "category_list", src: user_categories_path(current_user.id) do %>
      <div>
        
      </div>
      <% end %>
    </main>
    <% end %>
    <% unless user_signed_in? %>
    <main>
      <%= yield %>
    </main>
    <%= render 'shared/modal' %>
    <% end %>
    <script>
      $('.toast').toast('show');
    </script>
  </body>
</html>
